@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

body div::-moz-selection,
body section::-moz-selection {
  background: transparent;
}
body div::selection,
body section::selection {
  background: transparent;
}
body img::-moz-selection {
  background: transparent;
}
body img::selection {
  background: transparent;
}
